@model List<AdditionBonusTask.Areas.Identity.Data.ApplicationUser>

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Friend</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select name="FriendSenderId" class="form-control" style="font-family:Arial; font-weight:bold;">
                    @foreach (var user in Model)
                    {
                        <option class="form-control" style="font-family:Arial; font-weight:bold;" value="@user.Id">@user.FirstName @user.LastName</option>
                    }
                </select>
                @*<label asp-for="FriendSenderId" class="control-label"></label>
               
                <input asp-for="FriendSenderId" class="form-control" />
                <span asp-validation-for="FriendSenderId" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <select name="ReceiverId" class="form-control" style="font-family:Arial; font-weight:bold;">
                    @foreach (var users in Model)
                    {
                        <option class="form-control" style="font-family:Arial; font-weight:bold;" value="@users.Id">@users.FirstName @users.LastName</option>
                    }
                </select>
                @*<label asp-for="ReceiverId" class="control-label"></label>
                <input asp-for="ReceiverId" class="form-control" />
                <span asp-validation-for="ReceiverId" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
